{% extends 'main.html' %}
{% block container %}
<header>
    <div class='container-nav'>
        <nav class="navbar bg-body-dark">
            <div class="container-fluid">
            <a class="navbar-brand" href="main">
                <img src="static/zerotwoglass.gif" alt="Logo" width="50" height="42" class="d-inline-block align-text-top">
            </a>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-danger">Авторизация</button>
            </div>
            </div>
        </nav>
    </div>
</header>
<main>
    <hr class="hr-nav">
    <div class="container-mt-5">
        <a href="main" class="btn btn-dark">
            <img src="static/main.svg" width="30" height="35">
        </a>
        <span>Главная</span>
      </div>
    <div class="container-mt-5">
        <a href="request" class="btn btn-dark">
            <img src="static/help.svg" width="30" height="35">
        </a>
        <span>Поддержка</span>
      </div>
    <div class="container-mt-5">
        <a href="tickets" class="btn btn-dark">
          <img src="static/ticket.svg" width="30" height="35">
        </a>
        <span>Тикет</span>
      </div>
<main>
    <div class="container-mt-2">
        <div class="input-start-block">
            <center><h1 style="color: white; margin-top: 15px;">Авторизация</h1></center>
            <input class="input-label" type="username" class="form-control" id="username" aria-describedby="email" placeholder="Username" required>
            <label class="auth-label" for="username">Логин:</label>
            <input class="input-label" type="password" class="form-control" id="password" aria-describedby="password" placeholder="Password" required>
            <label class="auth-label" for="password">Пароль:</label>
        </div>
        <button type="submit" class="btn btn-danger" style="width: 800px; margin-left: 15px; margin-top: 225px;">vhod</button>
    </div>
</main>
{% endblock %}