<title>Заявка</title>
{% extends 'main.html' %}
{% block container %}
<header>
    <div class='container-nav'>
        <nav class="navbar bg-body-dark">
            <div class="container-fluid">
            <a class="navbar-brand" href="main">
                <img src="static/zerotwoglass.gif" alt="Logo" width="50" height="42" class="d-inline-block align-text-top">
            </a>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-danger">Авторизация</button>
            </div>
            </div>
        </nav>
    </div>
</header>
<main>
    <hr class="hr-nav">
    <div class="container-mt-5">
        <a href="main" class="btn btn-dark">
            <img src="static/main.svg" width="30" height="35">
        </a>
        <span>Главная</span>
      </div>
    <div class="container-mt-5">
        <a href="request" class="btn btn-dark">
            <img src="static/help.svg" width="30" height="35">
        </a>
        <span>Поддержка</span>
      </div>
    <div class="container-mt-5">
        <a href="tickets" class="btn btn-dark">
          <img src="static/ticket.svg" width="30" height="35">
        </a>
        <span>Тикет</span>
      </div>
      <div class="container-mt-4">
        <div class="d-flex">
            <input type="search" class="form-control me-2" placeholder="Enter search term">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </div>
    </div>
      <div class="container-mt-4" style="margin-top: -90px"></div>
      </div>
      <div class="container-mt-3" style="margin-top: 0px;"></div>
</main>
{% endblock %}