{% extends 'main.html' %}
{% block container %}
<header>
    <div class='container-nav'>
        <nav class="navbar bg-body-dark">
            <div class="container-fluid">
            <a class="navbar-brand" href="main">
                <img src="static/zerotwoglass.gif" alt="Logo" width="50" height="42" class="d-inline-block align-text-top">
            </a>
                {% if session.get('auth_id') %}
                    <div class="dropdown">
                        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" aria-expanded="false">
                            {{ session.get('username') }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/profile">Profile</a>
                            <a class="dropdown-item" href="/profile-settings">Settings</a>
                            <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                        </div>
                    </div>
                    {% else %}
                        <a class="btn-23" href="auth">
                            <span class="text">Авторизация</span>
                            <span aria-hidden="" class="marquee">Auth</span>
                        </a>
                    {% endif %}
            </div>
        </nav>
    </div>
</header>
<main>
    <hr class="hr-nav">
    <div class="container-mt-5">
        <a href="main" class="btn btn-dark">
            <img src="static/main.svg" width="30" height="35">
        </a>
        <span>Главная</span>
      </div>
    <div class="container-mt-5">
        <a href="request" class="btn btn-dark">
            <img src="static/help.svg" width="30" height="35">
        </a>
        <span>Поддержка</span>
      </div>
    <div class="container-mt-5">
        <a href="tickets" class="btn btn-dark">
          <img src="static/ticket.svg" width="30" height="35">
        </a>
        <span>Тикет</span>
      </div>
      <div class="profile-card">
        <img src="https://via.placeholder.com/150" alt="User Avatar">

        <h2>{{ session.get('username') }}</h2>
        <p>Добро пожаловать в ваш профиль!</p>

        <div class="info">
            <p><span>Email:</span> {{ session.get('email') }}</p>
        </div>

        <a href="{{ url_for('profile') }}" class="btn">Редактировать профиль</a>
    </div>
</main>
{% endblock %}