<title>Заявка</title>
{% extends 'main.html' %}
{% block container %}
<header>
    <div class='container-nav'>
        <nav class="navbar bg-body-dark">
            <div class="container-fluid">
            <a class="navbar-brand" href="main">
                <img src="static/zerotwoglass.gif" alt="Logo" width="50" height="42" class="d-inline-block align-text-top">
            </a>
            {% if session.get('auth_id') %}
                    <div class="dropdown">
                        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" aria-expanded="false">
                            {{ session.get('username') }}
                        </button>
                    <!-- Выпадающее меню -->
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/profile">Profile</a>
                            <a class="dropdown-item" href="/profile-settings">Settings</a>
                            <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                        </div>
                    </div>
                    {% else %}
                        <!-- Если пользователь не авторизован, показываем кнопку авторизации -->
                        <a class="btn-23" href="auth">
                            <span class="text">Авторизация</span>
                            <span aria-hidden="" class="marquee">Auth</span>
                        </a>
                    {% endif %}
            </div>
        </nav>
    </div>
</header>
<main>
    <hr class="hr-nav">
    <div class="container-mt-5">
        <a href="main" class="btn btn-dark">
            <img src="static/main.svg" width="30" height="35">
        </a>
        <span>Главная</span>
      </div>
    <div class="container-mt-5">
        <a href="request" class="btn btn-dark">
            <img src="static/help.svg" width="30" height="35">
        </a>
        <span>Поддержка</span>
      </div>
    <div class="container-mt-5">
        <a href="tickets" class="btn btn-dark">
          <img src="static/ticket.svg" width="30" height="35">
        </a>
        <span>Тикет</span>
      </div>
<main>
    <div class="container-mt-4">
        <button class="btn btn-dark" style="margin: 15px; color: #C72A71;">Проблема</button>
    </div>
    <div class="container-mt-3">
        <div class="input-start-block">
        <input class="input-label" type="name" class="form-control" id="name" aria-describedby="name" placeholder="Имя" required>
        <label class="name-label">Ваше имя:</label>
        <input class="input-label" type="email" class="form-control" id="email" aria-describedby="email" placeholder="Email" required>
        <label class="name-label">Ваш Email:</label>
        <textarea class="textarea-label" type="problem" id="problem" placeholder="Проблема" required></textarea>
        <label class="text-label">Ваша проблема</label>
        <select class="input-label">
            <option selected>Тип</option>
            <option value="1">Проблема</option>
            <option value="2">Ошибка</option>
        </select>
        <label class="name-label">Тип заявки</label>
        </div>
        <button type="submit" class="btn btn-danger" style="width: 400px; margin-left: 15px; margin-top: 430px;">Отправить</button>
        <button onclick="clear(input(name, email, problem))" class="btn btn-dark" style="width: 400px; margin-top: 430px;">Очистить заявку</button>
    </div>
</main>
{% endblock %}